<a href="https://colab.research.google.com/github/MarekSroka/SDA_projekty/blob/main/Business_environment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**BUSINESS ENVIRONMENT EXAMPLE**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Selected model for operational use - Random Forest Classifier

In [ ]:
import joblib
import pandas as pd

Load model

In [ ]:
rfc_model = joblib.load('drive/MyDrive/1.Projekt_koncowy/rfc_model_3.pkl')

There are 3 intuitively created cases in 3 different DataFrames

In [ ]:
case_01 = [['Kredyt gotówkowy', 'M', '1', 800000.0, 39.0, 245.0, 556.0, 347.0, 1.55,1.99, 0.45, 
           0.06, 0.22, 0.65, 0.7, 350.0]]

In [ ]:
case_02 = [['Pożyczka gotówkowa', 'K', '0', 5000.0, 17.0, 951.0, 3200.0, 3000.0, 1690.0, 1.0, 0.09, 
           0.00, 0.00, 0.9, 0.0, 5.0]]

In [ ]:
case_03 = [['Produkty odnawialne', 'M', '1', 500000.0, 
           66.0, 60.0, 100.0, 26.0, 20.0, 0.05, 
           0.98, 0.36, 0.22, 0.2, 0.0, 90.0] ]

In [ ]:
columns = ['kategoria_produktu', 'plec', 'czy_wind_zewn', 'populacja', 'wiek', 'dpd','liczba_dni_od_daty_umowy',
'liczba_dni_od_wypowiedzenia','ratio_credit_to_debt','ratio_capital_to_debt','ratio_sop_to_debt','ratio_sop12m_to_debt',
'share_12m_in_total','time_debt_exist','time_after_term','time_on_book']
columns

['kategoria_produktu',
 'plec',
 'czy_wind_zewn',
 'populacja',
 'wiek',
 'dpd',
 'liczba_dni_od_daty_umowy',
 'liczba_dni_od_wypowiedzenia',
 'ratio_credit_to_debt',
 'ratio_capital_to_debt',
 'ratio_sop_to_debt',
 'ratio_sop12m_to_debt',
 'share_12m_in_total',
 'time_debt_exist',
 'time_after_term',
 'time_on_book']

In [ ]:
case_01_df = pd.DataFrame(case_01, columns=columns)
case_01_df

,kategoria_produktu,plec,czy_wind_zewn,populacja,wiek,dpd,liczba_dni_od_daty_umowy,liczba_dni_od_wypowiedzenia,ratio_credit_to_debt,ratio_capital_to_debt,ratio_sop_to_debt,ratio_sop12m_to_debt,share_12m_in_total,time_debt_exist,time_after_term,time_on_book
0,Kredyt gotówkowy,M,1,800000.0,39.0,245.0,556.0,347.0,1.55,1.99,0.45,0.06,0.22,0.65,0.7,350.0

In [ ]:
case_02_df = pd.DataFrame(case_02, columns=columns)
case_02_df

,kategoria_produktu,plec,czy_wind_zewn,populacja,wiek,dpd,liczba_dni_od_daty_umowy,liczba_dni_od_wypowiedzenia,ratio_credit_to_debt,ratio_capital_to_debt,ratio_sop_to_debt,ratio_sop12m_to_debt,share_12m_in_total,time_debt_exist,time_after_term,time_on_book
0,Pożyczka gotówkowa,K,0,5000.0,17.0,951.0,3200.0,3000.0,1690.0,1.0,0.09,0.0,0.0,0.9,0.0,5.0

In [ ]:
case_03_df = pd.DataFrame(case_03, columns=columns)
case_03_df

,kategoria_produktu,plec,czy_wind_zewn,populacja,wiek,dpd,liczba_dni_od_daty_umowy,liczba_dni_od_wypowiedzenia,ratio_credit_to_debt,ratio_capital_to_debt,ratio_sop_to_debt,ratio_sop12m_to_debt,share_12m_in_total,time_debt_exist,time_after_term,time_on_book
0,Produkty odnawialne,M,1,500000.0,66.0,60.0,100.0,26.0,20.0,0.05,0.98,0.36,0.22,0.2,0.0,90.0

In [ ]:
print(rfc_model.predict(case_01_df))
print(rfc_model.predict(case_02_df))
print(rfc_model.predict(case_03_df))

[1]
[0]
[1]

Chosen model making prediction on inupt data - case_01 and case_03 are 'paying', case_02 - 'not paying'.